* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: 'Trispace', sans-serif;
  color: #ffffff;
  height: 100%;
  background-image: url("../WeatherApp_v1/imgs/default3.png");
  scroll-behavior: smooth;
}

.hero-img {
  position: relative;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 1;
  transition: background-image 1s;
}

.bgClouds {
  background-image: url("../WeatherApp_v1/imgs/SMALLclouds-2329680_1280D.jpg");
}

.bgDrizzle {
  background-image: url("../WeatherApp_v1/imgs/drizzle-smallD.jpg");
}

.bgFog {
  background-image: url("../WeatherApp_v1/imgs/fog-smallD.jpg");
}

.bgRain {
  background-image: url("../WeatherApp_v1/imgs/rain-smallD.jpg");
}

.bgSnow {
  background-image: url("../WeatherApp_v1/imgs/snow-smallD.jpg");
}

.bgThunderstorm {
  background-image: url("../WeatherApp_v1/imgs/thunderstorm-smallD.jpg");
}

.bgSun {
  background-image: url("../WeatherApp_v1/imgs/sun-smallD.jpg");
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0 0 25px 0;
  overflow: hidden;
}

.head {
  display: inline-block;
  align-self: center;
  font-family: 'Concert One', cursive;
  font-size: 48px;
  text-align: center;
  margin-top: 10px;
  color: #e4e4e4;
  text-shadow: 2px 2px 5px black;
}

span, p, h3 {
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px 20px 10px;
  padding-top: 10px;
  border: 2px solid #c2c2c2;
  max-width: 400px;
  overflow: hidden;
  border-radius: 25px;
  background-color: #12224d91;
  box-shadow: 0px 0px 20px #030711;
}

h3 {
  text-align: center;
  text-shadow: 3px 3px 2px #070e24;
}

.formGroup {
  position: relative;
  width: 100%;
}

.type-section {
  margin: 0px 10px 0px 10px;
  height: 100%;
}

.type-section .warningText {
  margin: 10px 0px 15px 0px;
  visibility: hidden;
  text-align: center;
  color: #f1f1f1;
}

.type-section .visible {
  visibility: visible;
}

.type-section p, .type-section .info {
  text-shadow: 2px 2px 2px black;
  font-size: 12px;
}

.type-section p {
  display: inline-block;
}

.type-section .info {
  padding: 0px 2px 0px 0px;
}

.type-section .address-section, .type-section .latitude-section, .type-section .longitude-section {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 5px;
  margin-top: 25px;
  margin: 15px 15px 0px 15px;
}

.type-section .address-section {
  height: 75px;
  margin-bottom: 30px;
}

.type-section .searchBtn {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-family: 'Trispace', sans-serif;
  color: #cecece;
  background: none;
  cursor: pointer;
  text-shadow: 2px 2px 2px black;
  transition: font-size 0.2s, color 0.3s;
}

.type-section .searchBtn:hover {
  font-size: 45px;
  color: #7299e2;
}

.type-section .coordsBtn {
  position: relative;
  top: 15px;
}

.type-section .invisible {
  opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  margin: 5px;
  height: 30px;
  width: 95%;
  background-color: #ffffff65;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  border-bottom: 1px solid #c4c4c4;
  transition: 0.2s;
  z-index: 1;
}

input:focus {
  outline: none;
  border-bottom: 1px solid white;
  transition: 0.2s;
  z-index: 1;
}

.labelCity, .labelCoords {
  position: absolute;
  top: 7px;
  left: 10px;
  font-size: 18px;
  transition: 0.2s;
  color: #d4d4d470;
  cursor: text;
}

.labelCoords {
  opacity: 0;
}

input:focus + .labelCity {
  top: -18px;
  left: 5px;
  font-size: 14px;
  transition: 0.2s;
  color: whitesmoke;
  opacity: 1;
}

input:focus ~ .labelCoords {
  top: -18px;
  left: 5px;
  font-size: 14px;
  transition: 0.2s;
  color: whitesmoke;
  opacity: 1;
}

.stayActive {
  top: -18px;
  left: 5px;
  font-size: 14px;
  transition: 0.2s;
  color: whitesmoke;
  opacity: 1;
}

input::placeholder {
  color: #d4d4d470;
  font-size: 18px;
  font-family: 'Trispace', sans-serif;
  padding-left: 5px;
  transition: 0.2s;
}

input:focus::placeholder {
  opacity: 0;
}

.dropdown {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0 50% 0 50%;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown p {
  position: absolute;
  font-size: 12px;
}

.dropdown:hover {
  background-color: #5072ce91;
}

.details-zone {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0 0;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: #1b316e75;
  text-align: center;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  transition-duration: 0.5s;
}

.details-zone .coords-info {
  visibility: hidden;
  transition: visibility 1.5s;
}

.details-zone .visible {
  visibility: visible;
}

.details-zone div {
  padding: 15px 0;
}

.details-zone div:nth-child(even) {
  background-color: #070e202d;
}

.details-zone div:nth-child(even) .coords {
  padding: 0;
  background-color: #00000000;
}

.details-zone h3 {
  padding: 0 0 20px 0;
  color: #b8d5f7;
}

.details-zone .weatherIcon {
  height: 50px;
}

.details-zone .wind {
  margin: 0 0 20px 0;
}

.resizeDropdown {
  height: 740px;
  transition-duration: 0.5s;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  color: white;
  overflow: hidden;
  padding: 5px;
}

.footer span {
  margin: 0 5px;
  text-shadow: 2px 2px 2px black;
}

.footer i {
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
}

.footer a {
  text-decoration: none;
  color: whitesmoke;
  transition: color 0.3s;
  padding: 5px;
}

.footer a:hover {
  color: #6387eb;
}

.fadeIn {
  animation: fadeInNew;
  animation-duration: 1.5s;
}

@keyframes fadeInNew {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes drop {
  0% {
    height: 300px;
  }
  100% {
    height: 100%;
  }
}

@media (min-height: 720px) {
  body {
    height: 100vh;
  }
  .hero-img {
    height: 100%;
    overflow: auto;
  }
}

@media (min-width: 400px) {
  .head {
    font-size: 60px;
  }
}

@media (min-width: 600px) {
  .head {
    font-size: 70px;
  }
  .details-zone {
    height: 340px;
  }
  .details-zone h3, .details-zone span {
    font-size: 20px;
    text-shadow: 3px 3px 2px #070e24;
  }
  .details-zone .weatherIcon {
    height: 70px;
  }
  .resizeDropdown {
    height: 820px;
  }
}
/*# sourceMappingURL=main.css.map */